.container {
  width: 100%;
  padding: 20px 0;
  @media (max-width: 1139px) {
    padding: 0 0 20px 0;
  }
  .header {
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    @media (max-width: 1139px) {
      margin-bottom: 15px;
    }
    .title {
      font-size: 26px;
      font-weight: 600;
      color: var(--secondary);
      margin: 0;
    }

    .link {
      position: absolute;
      bottom: 0;
      right: 0;
      color: var(--secondary);
      font-size: 16px;
      font-weight: 500;
      text-decoration: none;
      transition: all 0.2s ease;

      &:hover {
        color: var(--primary);
      }
    }
  }
  .shimmer {
    flex: 1 0 auto;
    height: auto;
    aspect-ratio: 4 / 3;
    border-radius: 10px;
  }
}
